@import "tailwindcss";

@theme {
  --color-primary: #0284c7; /* sky-600 */
  --color-primary-dark: #0369a1; /* sky-700 */
  --color-secondary: #0d9488; /* teal-600 */
  --color-secondary-light: #14b8a6; /* teal-500 */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased;
  }
}
